<!DOCTYPE html>
<html>
<head>
	<title>Project3</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<style media="screen">
		body {
			background-image: url('/images/3.jpg');
			background-repeat: no-repeat;
			background-size: cover;
		}
		.la-city {
      font-family: serif;
			font-size: 30px;
		}
		.yelp-list {
			font-family: serif;
			font-size: 20px;
		}
	
	</style>
</head>
<body>
	<% include partials/nav %>
	<div class="container">
		<%- body %>
	</div>
</body>
</html>
