<h1>HappyHour show page</h1>
<div class="container">
  <h3>Name: <%= biz.name %></h3>
  <h4>Rating: <%= biz.rating %></h4>
  <h4>Address: <%= biz.location.address %></h4>
  <h4>City: <%= biz.location.city %></h4>
</div>
<div class="container">

</div>


<!-- santa-monica-yacht-club-santa-monica-3 -->
