
<h1>HappyHour</h1>
<div class="container">
  <h3><a href="http://localhost:3000/posts/search?neighborhood=Santa Monica">Santa Monica</a></h3>
  <h3><a href="http://localhost:3000/posts/search?neighborhood=Malibu">Malibu</a></h3>
  <h3><a href="http://localhost:3000/posts/search?neighborhood=Marina Del Rey">Marina Del Rey</a></h3>
  <h3><a href="http://localhost:3000/posts/search?neighborhood=Culver City">Culver City</a></h3>
  <h3><a href="http://localhost:3000/posts/search?neighborhood=Venice">Venice</a></h3>
  <h3><a href="http://localhost:3000/posts/search?neighborhood=Beverly Hills">Beverly Hills</a></h3>
  <h3><a href="http://localhost:3000/posts/search?neighborhood=West Hollywood">West Hollywood</a></h3>
  <h3><a href="http://localhost:3000/posts/search?neighborhood=Mid City">Mid City</a></h3>
  <h3><a href="http://localhost:3000/posts/search?neighborhood=West Hollywood">West Hollywood</a></h3>
  <h3><a href="http://localhost:3000/posts/search?neighborhood=Koreatown">Koreatown</a></h3>
  <h3><a href="http://localhost:3000/posts/search?neighborhood=Downtown">Downtown</a></h3>



<label for="form">Search</label>
  <form class="ggg" action="/search" method="get">
    <input type="text" name="location" placeholder="enter location">
  </form>
</div>
