<<<<<<< HEAD

=======
<h1>HappyHour</h1>
<div class="container">
  <h3><a href="">Santa Monica</a></h3>
  <h3><a href="">Malibu</a></h3>
  <h3><a href="">Marina Del Rey</a></h3>
  <h3><a href="">Culver City</a></h3>
  <h3><a href="">Venice</a></h3>
  <h3><a href="">Beverly Hills</a></h3>
  <h3><a href="">West Hollywood</a></h3>
  <h3><a href="">Mid City</a></h3>
  <h3><a href="">West Hollywood</a></h3>
  <h3><a href="">Koreatown</a></h3>
  <h3><a href="">Downtown</a></h3>




<label for="form">Search</label>
  <form class="ggg" action="/search" method="get">
    <input type="text" name="location" placeholder="enter location">
  </form>
</div>
>>>>>>> 5d7a63a5169a124e1925a291b2ef5dad26727292
