<h1>HappyHour</h1>

<button type="button" class="btn btn-default navbar-btn">Sign In</button>
<button type="button" class="btn btn-default navbar-btn">Sign Up</button>


<div class="container">

</div>
