
<h1 style="color:white; font-family:serif">Welcome to LAspecial</h1>
<div class="search-happy-hour">
  <form class="ggg" action="/search" method="get">
    <input style="font-family:serif" type="text" name="location" class="form-control" placeholder="Search Happy Hour Specials">
  </form>
</div>

<div class="container">
  <div class="la-city"><a href="http://localhost:3000/posts/search?neighborhood=Santa Monica">Santa Monica</a></div>
  <div class="la-city"><a href="http://localhost:3000/posts/search?neighborhood=Malibu">Malibu</a></div>
  <div class="la-city"><a href="http://localhost:3000/posts/search?neighborhood=Marina Del Rey">Marina Del Rey</div></h3>
  <div class="la-city"><a href="http://localhost:3000/posts/search?neighborhood=Culver City">Culver City</a></div>
  <div class="la-city"><a href="http://localhost:3000/posts/search?neighborhood=Venice">Venice</a></div>
  <div class="la-city"><a href="http://localhost:3000/posts/search?neighborhood=Beverly Hills">Beverly Hills</a></div>
  <div class="la-city"><a href="http://localhost:3000/posts/search?neighborhood=West Hollywood">West Hollywood</a></div>
  <div class="la-city"><a href="http://localhost:3000/posts/search?neighborhood=Mid City">Mid City</a></div>
  <div class="la-city"><a href="http://localhost:3000/posts/search?neighborhood=West Hollywood">West Hollywood</a></div>
  <div class="la-city"><a href="http://localhost:3000/posts/search?neighborhood=Koreatown">Koreatown</a></div>
  <div class="la-city"><a href="http://localhost:3000/posts/search?neighborhood=Downtown">Downtown</a></div>
</div>
