<h1>Search Page</h1>
<div class="container">
  <ul>
    <% businesses.forEach((p) => { %>
      <%console.log(p.id)%>
        <li><a href="/show/<%= p.id %>"><%= p.name %></a> </li>
    <% }) %>
  </ul>
</div>
