<h1 style="color:white; font-family:serif">Here is What People Think:</h1>


<div id="happy-hours-results">
  <% posts.forEach((post) => {%>
   <h1 style="font-family:serif"><a href="/business/<%= post.business_id %>"><%= post.business_name %></a></h1>
   <% }) %>
</div>
